{% extends 'myapp/base.html' %}

{% block content %}
    <form action="" method="post" novalidate>
        <h3>Register User</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register">
    </form>
{% endblock %}