<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    <style>
        .jumbotron{
            padding: 20px;
            margin-bottom: 20px;
            background-color: #e9ecef;
        }
    </style>
</head>
<body>
    <!-- در واقع اومدیم یه فایل ساختیم به نام نوبار با فرمت اچ تی ام ال و کد نوبار رو کات کردیم اونجا و اینجا اینکلود کردیم که داخل بیس شلوغ نشه -->
    {% include 'myapp/navbar.html' %}
    <div class="jumbotron">
        {% include 'myapp/messages.html' %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>