{% extends 'myapp/base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h3>Create Todo</h3>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="create">
        </form>
    {% else %}
        <div class="alert alert-danger">You Are not login!</div>
    {% endif %}
{% endblock %}