{% extends 'myapp/base.html' %}
{% block title %}  {{todo.title}} {% endblock %}
{% block content %}
    <a href="{% url 'myapp:delete' todo.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'myapp:update' todo.id %}" class="btn btn-info">Update</a>
    <h3>{{todo.title}}</h3>
    <p>Author: {{user.get_full_name}}</p>
    <h5>{{todo.created}}</h5>
    <p>{{todo.body}}</p>
{% endblock %}