{% extends 'myapp/base.html' %}
{% block title %}Home1{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="card">
                {% for todo in todos %}
                    <a class="card-body" href="{% url 'myapp:detail' todo.id %}">{{todo.title}}</a>
                {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-danger">You Are not login!</div>
    {% endif %}
{% endblock %}