<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'myapp:home' %}">Home</a>
      <a class="navbar-brand" href="{% url 'myapp:create' %}">Create</a>
      <a class="navbar-brand" href="{% url 'accounts:user_register' %}">Register</a>
      <a class="navbar-brand" style="margin-right:1000px" href="{% url 'accounts:login' %}">Login</a>
    </div>
  </nav>