{% extends 'myapp/base.html' %}

{% block content %}
    <h3>Update Todo</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Create">
    </form>
{% endblock %}